body, html {
  margin: 0;
  padding: 0;
  background-color:  #114e95;
}

main {
  padding: 20px 70px 50px;
  color:white;
}

footer {
  padding: 10px;
  color: white;
  border: 1px red dashed;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}
